<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="item-form field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input type="number" required name="amount" class="amount-input input is-rounded" placeholder="Amount" [ngModel]="item.amount">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input type="text" required name="description" class="input is-rounded" placeholder="Description" [ngModel]="item.description">
        </p>
      </div>
      <div class="field is-narrow">
        <button class="button is-primary is-rounded" type="submit" [disabled]="!itemForm.valid">Add</button>
      </div>
    </div>
  </div>
</form>
<hr>
